*.swp
*.pyc
tmp/
heroku_only/
install_instructions.rtf
/settings.py

*.csv

newrelic.ini

.anvil/
/env
flask/*
.DS_Store

/heroku-build-output
/heroku-settings.py
/heroku-test-build-output
heroku-build
heroku-push
heroku-test-build
heroku-test-push
heroku-test-settings.py
get_employee_data.py

# Design-related dirs/files to ignore
.sass-cache
node_modules/
