.profile-textfield {
	size: 200;
	width: 200px;
	background-color : #fff;
  	color : black;
}

#textfield-none{
	/*font-style: italic;
	color: gray;*/
}

.allusers_pic {
	height: 40px;
	width: 40px;
}

