@charset "UTF-8";


/*-----------------------------------*\

	$RESET

	Blanket reset. For something less
	volatile, I’d recommend Eric
	Meyer’s reset.

\*-----------------------------------*/

/* Sloppy reset. Applied to everything. */

*,
:before,
:after {
  margin: 0;
  padding: 0;
  /* Layout for dummies */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

/* Blanket ban on oversized images. */

img {
  display: block;
  max-width: 100%;
}

a {
  color: #f36062;
  text-decoration: underline;
}

a:hover {
  color: #dc1113;
}

input,
textarea,
button {
  font: inherit;
}

/*-----------------------------------*\

	$UTILITIES

	Helper classes, clearfixes, etc.

\*-----------------------------------*/

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.standalone {
  margin-bottom: 0 !important;
}

.h-l {
  list-style: none;
  padding-left: 0;
}

.h-l li {
  display: inline-block;
}

.sl-l {
  list-style: none;
  padding-left: 0;
}

.span-all {
  width: 100% !important;
}

.vi-hd {
  position: absolute;
  left: -9999px;
}

[data-placeholder]:empty:before {
  content: attr(data-placeholder);
  color: rgba(0, 0, 0, 0.3);
}

.f-r {
  float: right;
}

.f-l {
  float: left;
}

.c-t {
  text-align: center;
}

.fix3d,
input,
textarea,
button,
.butt,
html,
.posts,
.post__new-tagged .tag .post__remove-tag {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

/*-----------------------------------*\

	$SHARED

	Reserved for html-level shared
	properties and simple helpers.

\*-----------------------------------*/

/* Set up some vertical rhythm and block-level element helpers */

p,
.p,
blockquote,
table,
form,
ul,
ol,
.img,
hr,
h1,
.alpha,
.mega,
.ultra {
  display: block;
  margin-bottom: 1.5rem;
}

/* Remove this for hanging bullets */

ul,
ol {
  padding-left: 1.3em;
}

/* Restore some normality to our nested lists */

li > ul,
li > ol {
  margin-bottom: 0;
}

/*-----------------------------------*\

	$TYPE

	Low-level type things. Headings,
	links, blockquotes, etc.

\*-----------------------------------*/

h1,
.alpha {
  font-size: 3rem;
  line-height: 1;
}

h2,
.beta {
  font-size: 1.45rem;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: -.05em;
  margin-bottom: .75rem;
}

h3,
.gamma,
h4,
.delta {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: 700;
  font-family: "Whitney SSm A", "Whitney SSm B", sans-serif;
}

h4,
.delta {
  font-size: .8333rem;
}

hr {
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  margin-top: -2px;
}

/*-----------------------------------*\

	$OBJECTS

	Abstracted things and common
	patterns go here. Not to be
	confused with helpers.

\*-----------------------------------*/

.nav,
.nav ul {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}

.nav li,
.nav a,
.nav ul li,
.nav ul a {
  display: inline-block;
}

.island {
  padding: 1.5rem;
}

.isle {
  padding: .75rem;
}

.spit {
  padding: .375rem;
}

.img--med {
  max-width: 3.5rem;
  max-height: 3.5rem;
}

.butt {
  cursor: pointer;
}

.media .media__img {
  display: block;
  float: left;
  margin-right: .75rem;
  max-width: 2rem;
}

.media .media__img.img--lrg {
  max-width: 10rem;
}

/*-----------------------------------*\

	$LAYOUT

	Basic layout objects.

\*-----------------------------------*/

/*div*/

.wrap {
  max-width: 40rem;
  margin: 0 auto;
}

/*-----------------------------------*\

	$MAIN

	Anything that can’t be abstracted
	or assigned to another section.
	Low-level stuff.

\*-----------------------------------*/

::selection {
  background-color: #f36062;
  text-shadow: none;
  color: #fff;
}

::-moz-selection {
  background-color: #f36062;
  text-shadow: none;
  color: #fff;
}

html {
  font: 112.5%/1.5 "Archer SSm A", "Archer SSm B", serif;
  color: #2b2b29;
  -webkit-font-smoothing: antialiased;
  background-color: #e8e2dc;
}

@media (max-width: 500px) {
  html {
    font-size: 87.5%;
  }
}

/*-----------------------------------*\
	$HEADER
\*-----------------------------------*/

.site__header {
  background-color: rgba(255, 255, 255, 0.85);
  background-image: -webkit-gradient(linear, top left, bottom left, from(rgba(247, 243, 240, 0.5)), to(rgba(247, 243, 240, 0)));
  background-image: -webkit-linear-gradient(rgba(247, 243, 240, 0.5), rgba(247, 243, 240, 0));
  background-image: linear-gradient(rgba(247, 243, 240, 0.5), rgba(247, 243, 240, 0));
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.site__title {
  font-family: "Whitney SSm A", "Whitney SSm B", sans-serif;
  font-size: 1.5rem;
  line-height: 1;
  letter-spacing: -.05em;
  font-weight: 700;
  float: left;
  margin-bottom: 0;
}

.site__title a {
  color: inherit;
  text-decoration: none;
}

.site__navigation {
  float: right;
}

/*-----------------------------------*\
	$POSTS
\*-----------------------------------*/

.posts {
  list-style: none;
  padding-left: 0;
  padding-top: 2.25rem;
  -webkit-perspective: 2000px;
  perspective: 2000px;
}

.post {
  margin-bottom: 3rem;
  -webkit-transition: .3s;
  transition: .3s;
}

.post__container,
.ucard {
  border-radius: .25rem .25rem 0 0;
  background-color: #faf9f7;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 0 10px 1px white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 0 10px 1px white;
}

.post__thanks-to {
  margin-top: -3.5rem;
  margin-left: -2rem;
  margin-bottom: .5rem;
  z-index: 1;
}

.post__thanks-to li,
.post__thanks-to .post__tagger {
  background-color: #223;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 200px;
  border: 2px solid #faf9f7;
  text-align: center;
  font-family: "Whitney SSm A", "Whitney SSm B", sans-serif;
  line-height: 3.5rem;
  float: left;
}

.post__thanks-to li + li,
.post__thanks-to .post__tagger + li {
  margin-left: .25rem;
}

.post__thanks-to li:first-child,
.post__thanks-to .post__tagger:first-child {
  -webkit-box-shadow: -1px 0px 1px rgba(0, 0, 0, 0.05);
  box-shadow: -1px 0px 1px rgba(0, 0, 0, 0.05);
}

.post__thanks-to li img,
.post__thanks-to .post__tagger img {
  position: absolute;
  top: 0;
  min-width: 100%;
  bottom: 0;
  min-height: 100%;
}

.post__thanks-to li a,
.post__thanks-to .post__tagger a {
  overflow: hidden;
  display: block;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  font-weight: 700;
  text-decoration: none;
  width: 3.5rem;
  height: 3.5rem;
}

.post__thanks-to .post__tagger {
  clear: both;
  z-index: 2;
  border: none;
  -webkit-appearance: none;
  background-color: #f0ede7;
  color: rgba(0, 0, 0, 0.3);
  padding: 1.25rem 1.5rem;
  text-align: left;
  line-height: 1;
  min-width: 17rem;
}

.post__thanks-to .post__tagger:focus {
  outline: none;
  background-color: #faf9f7;
}

.post__remove-tag {
  cursor: pointer;
  position: absolute;
  z-index: 2;
  text-align: center;
  width: 1.25rem;
  height: 1.25rem;
  font-size: .75rem;
  line-height: 1;
  padding: .25rem;
  top: -.25rem;
  right: -.25rem;
  background-color: rgba(255, 255, 255, 0.9);
  background-image: -webkit-gradient(linear, top left, bottom left, from(rgba(255, 255, 255, 0)), to(white));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), white);
  background-image: linear-gradient(rgba(255, 255, 255, 0), white);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  text-shadow: none;
  border-radius: 100%;
  color: #333;
}

.post__new-tagged .tag {
  -webkit-animation: fadeInDown .3s;
  animation: fadeInDown .3s;
  display: inline-block;
  font-size: .75rem;
  padding: .25rem .5rem;
  background-color: #c0af9e;
  border-radius: .25em;
  margin-right: .75rem;
  margin-top: .75rem;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  font-family: "Whitney SSm A", "Whitney SSm B", sans-serif;
  font-weight: 700;
}

.post__new-tagged .tag .post__remove-tag {
  top: -.6rem;
  right: -.5rem;
}

.post__new-content {
  border: none;
  background-color: transparent;
  width: 100%;
  height: 1.7222rem;
  resize: none;
  margin-bottom: none;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.post__new-content:focus {
  background-color: rgba(241, 229, 183, 0.5);
  outline: none;
}

.post__content {
  color: #534d4a;
}

.post__content .post__photo {
  margin: -2.25rem -1.5rem 0 1.5rem;
  margin-bottom: -1.5rem;
  border-radius: 0 .25rem 0 0;
}

.post__content :last-child {
  margin-bottom: 0;
}

.post__header-meta {
  min-height: 3rem;
}

.post__meta {
  font-family: "Whitney SSm A", "Whitney SSm B", sans-serif;
  color: rgba(0, 0, 0, 0.5);
}

.post__footer {
  border-radius: 0 0 .25rem .25rem;
  overflow: hidden;
  background-color: #f5f1f0;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.post__actions {
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.post__actions li {
  display: inline-block;
  width: 50%;
  font-family: "Whitney SSm A", "Whitney SSm B", sans-serif;
}

.post__actions li + li {
  margin-left: -.28rem;
}

.post__actions li .butt {
  width: 100%;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  display: block;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 700;
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-perspective: 250px;
  perspective: 250px;
}

.post__actions li .butt:focus {
  outline: none;
  -webkit-box-shadow: inset 0 0 1px 1px rgba(243, 96, 98, 0.5);
  box-shadow: inset 0 0 1px 1px rgba(243, 96, 98, 0.5);
  color: #f36062;
}

.post__actions li .butt:active,
.post__actions li .butt:active:focus {
  background-image: -webkit-gradient(linear, top left, bottom left, from(rgba(100, 80, 0, 0.05)), to(rgba(100, 80, 0, 0)));
  background-image: -webkit-linear-gradient(rgba(100, 80, 0, 0.05), rgba(100, 80, 0, 0));
  background-image: linear-gradient(rgba(100, 80, 0, 0.05), rgba(100, 80, 0, 0));
  -webkit-box-shadow: none;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.5);
}

.post__actions li + li {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.post__actions li .thanked {
  color: #fff;
  text-shadow: 0 1px 1px rgba(150, 0, 0, 0.25);
  background-color: #f36062;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
}

.post__actions li .thanked.js--pressed .fa-heart {
  z-index: 5;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-animation: throb .8s ease-in-out;
  animation: throb .8s ease-in-out;
}

.post--new-in-stream {
  -webkit-animation: new-in-stream .6s;
  animation: new-in-stream .6s;
}

.i .fa,
.i.fa {
  margin-right: .25em;
}

/*-----------------------------------*\
	$COMMENTS
\*-----------------------------------*/

.post__comments {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: #F6F5F4;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 -50px 50px rgba(255, 255, 255, 0.4);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 -50px 50px rgba(255, 255, 255, 0.4);
}

.comments__count {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  cursor: pointer;
}

.comments {
  font-family: "Whitney SSm A", "Whitney SSm B", sans-serif;
  font-size: .7778rem;
  line-height: 1.3;
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}

.comments li {
  padding-top: .75rem;
  margin-bottom: .75rem;
}

.comments li + li {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: -1px;
}

.comments li :last-child {
  margin-bottom: 0;
}

/*-----------------------------------*\
	$PROFILES
\*-----------------------------------*/

.ucard {
  border-radius: .25rem;
  border: none;
}

/*-----------------------------------*\
	$FOOTER
\*-----------------------------------*/

.site__footer {
  padding-bottom: 3rem;
  background-image: url(../images/beigebox.svg);
  background-size: 2rem;
  background-position: center top;
  background-repeat: no-repeat;
}

/*-----------------------------------*\
	$ANIMATIONS
\*-----------------------------------*/

@-webkit-keyframes throb {
  0% {
    -webkit-transform: none;
    transform: none;
    top: 0;
  }

  20% {
    -webkit-transform: rotateY(-60deg);
    transform: rotateY(-60deg);
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    top: 2px;
  }

  50% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    top: -15px;
  }

  80% {
    -webkit-transform: rotateY(600deg);
    transform: rotateY(600deg);
    top: 6px;
  }

  100% {
    -webkit-transform: rotateY(540deg);
    transform: rotateY(540deg);
    top: 0;
  }
}

@keyframes throb {
  0% {
    -webkit-transform: none;
    transform: none;
    top: 0;
  }

  20% {
    -webkit-transform: rotateY(-60deg);
    transform: rotateY(-60deg);
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    top: 2px;
  }

  50% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    top: -15px;
  }

  80% {
    -webkit-transform: rotateY(600deg);
    transform: rotateY(600deg);
    top: 6px;
  }

  100% {
    -webkit-transform: rotateY(540deg);
    transform: rotateY(540deg);
    top: 0;
  }
}

@-webkit-keyframes new-in-stream {
  0% {
    opacity: 0;
    max-height: 0;
    -webkit-transform: rotateX(-40deg) scale(0.8);
    transform: rotateX(-40deg) scale(0.8);
  }

  75% {
    -webkit-transform: rotateX(1deg) scale(1.05);
    transform: rotateX(1deg) scale(1.05);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  100% {
    opacity: 1;
    max-height: 700px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
  }
}

@keyframes new-in-stream {
  0% {
    opacity: 0;
    max-height: 0;
    -webkit-transform: rotateX(-40deg) scale(0.8);
    transform: rotateX(-40deg) scale(0.8);
  }

  75% {
    -webkit-transform: rotateX(1deg) scale(1.05);
    transform: rotateX(1deg) scale(1.05);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  100% {
    opacity: 1;
    max-height: 700px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
  }
}

@-webkit-keyframes fadeInDown {
  0% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    opacity: 0;
  }

  65% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }

  100% {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

@keyframes fadeInDown {
  0% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    opacity: 0;
  }

  65% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }

  100% {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

/*-----------------------------------*\
	$JS-HELPERS
\*-----------------------------------*/

.ui-autocomplete {
  position: absolute;
  list-style: none;
  padding-left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  font-family: "Whitney SSm A", "Whitney SSm B", sans-serif;
  overflow: hidden;
}

.ui-autocomplete li a {
  text-decoration: none;
  color: #333;
  font-weight: 700;
  display: block;
  padding: .5rem 1.5rem;
}

.ui-autocomplete li a.ui-state-hover {
  cursor: pointer;
  background-color: #f36062;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */