$freight: freight-sans-pro, sans-serif;
$proxima: proxima-nova, sans-serif;

$red: #f36062;
$cream: #E8E2DC;

$baseline: 1.5rem;

/*-----------------------------------*\

  $RESET

  Blanket reset. For something less
  volatile, I’d recommend Eric
  Meyer’s reset.

\*-----------------------------------*/

/* Sloppy reset. Applied to everything. */
*, :before, :after {
  margin: 0;
  padding: 0;
  /* Layout for dummies */
  position: relative;
  box-sizing: border-box;
  animation-fill-mode: both;
}

/* Blanket ban on oversized images. */
img {
  display: block;
  max-width: 100%;
}

a {
  color: $red;
  text-decoration: underline;

  &:hover {
    color: darken($red, 20%);
  }
}

input, textarea, button {
  font: inherit;
  @extend .fix3d;
}

/*-----------------------------------*\

  $UTILITIES

  Helper classes, clearfixes, etc.

\*-----------------------------------*/

// Clearfix
.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

// Centering in the unknown
.cn-c {
  text-align: center;

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -.25em;
  }
}

.cn-w {
  display: inline-block;
  vertical-align: middle;
}

// Cutting off bottom margins
.standalone {
  margin-bottom: 0 !important;
}

// Horizontal, style-less lists
.h-l {
  list-style: none;
  padding-left: 0;

  li {
    display: inline-block;
  }
}

// Regular style-less lists
.sl-l {
  list-style: none;
  padding-left: 0;
}

.span-all {
  width: 100% !important;
}

// Visually hidden
.vi-hd {
  position: absolute;
  left: -9999px;
}

.h-m {
  margin-bottom: $baseline/2;
}

.m-t {
  margin-top: $baseline;
}

[data-placeholder]:empty {
  &:before {
    content: attr(data-placeholder);
    color: rgba(0,0,0,.3);
  }
}

[data-character-count][data-chars-remain] {
  padding-right: 2.5rem !important;

  &:focus:after, &.js--invalid:after {
    content: attr(data-chars-remain);
    position: absolute;
    bottom: .375rem;
    right: .375rem;
    background-color: rgba(255,255,255,.75);
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    color: rgba(0,0,0,.3);
    font-weight: 700;
    font-size: .75rem;
    font-family: $proxima;
    padding: .375rem .375rem ;
    border-radius: .25rem;
  }

  &.js--invalid:after {
    color: $red;
  }
}

// Floats
.f-r {
  float: right;
}

.f-l {
  float: left;
}

// Center text
.c-t {
  text-align: center;
}

// @extend this to fix flickering when transforming other objects.
.fix3d {
  transform: translateZ(0);
}

.b {
  display: block;
}

/*-----------------------------------*\

  $SHARED

  Reserved for html-level shared
  properties and simple helpers.

\*-----------------------------------*/

/* Set up some vertical rhythm and block-level element helpers */
p, .p, blockquote, table, form, ul, ol, .img, hr,
h1, .alpha, .mega, .ultra {
  display: block;
  margin-bottom: $baseline;
}

.post p, .post .p {
  hyphens: auto;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* Remove this for hanging bullets */
ul, ol {
  padding-left: 1.3em;
}

  /* Restore some normality to our nested lists */
  li > ul, li > ol {
    margin-bottom: 0;
  }

/*-----------------------------------*\

  $TYPE

  Low-level type things. Headings,
  links, blockquotes, etc.

\*-----------------------------------*/

h1, .alpha {
  letter-spacing: -.05em;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.5;
}

h2, .beta {
  font-size: 1.45rem;
  line-height: 1.2;
  font-weight: 200;
}

h3, .gamma {
  font-family: $proxima;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: 700;
}

h4, .delta {
  @extend .gamma;
  font-size: .8333rem;
}

.mega {
  font-size: 6rem;
}

hr {
  border: none;
  border-bottom: 2px solid rgba(0,0,0,.1);
  margin-top: -2px;
}

.promo {
  text-align: center;
}

.faded {
  opacity: .65;
}

/*-----------------------------------*\
  $FORMS
\*-----------------------------------*/

.butt {
  text-decoration: none;
  color: #333;
  cursor: pointer;
  @extend .fix3d;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: .25rem;
  padding: .2rem .75rem .3rem;
  box-shadow: inset 0 1px rgba(255,255,255,.1), inset 0 0 0 1px rgba(255,255,255,.1), 0 1px 1px rgba(0,0,0,.1), inset 0 0 0 1px rgba(0,0,0,.2);
  font-weight: 700;
  background-color: #fff;
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.1));

  &:active, &:focus {
    outline: none;
    background-color: darken(#fff, 5%);
  }

  &.butt--primary {
    background-color: darken($red, 5%);
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,.1);

    &:active, &:focus {
      background-color: darken($red, 10%);
    }
  }
}

.input {
  background-color: #fff;
  border: none;
  padding: .25em;
  box-shadow: inset 0 2px 5px rgba(0,0,0,.1), inset 0 0 0 1px rgba(0,0,0,.1);
  border-radius: .25rem;

  &:focus {
    box-shadow: inset 0 2px 5px rgba(0,0,0,.1), inset 0 0 0 1px rgba(0,0,0,.1), inset 0 0 2px 1px $red;
    outline: none;
  }

  &.error {
    animation: shake .4s;
  }

  &.input--plain {
    background-color: transparent;
    color: inherit;
    box-shadow: none;

    &:focus {
      background-color: rgba(255,255,255,.5);
      box-shadow: none;
    }
  }
}

.in {
  display: inline-block;

  & + .in {
    margin-left: .3em;
  }
}

.error {
  color: $red;
}

/*-----------------------------------*\

  $OBJECTS

  Abstracted things and common
  patterns go here. Not to be
  confused with helpers.

\*-----------------------------------*/

.nav, .nav ul {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;

  li, a {
    display: inline-block;
  }

}


// .island, .isle, and .spit should be used for spacing
.island {
  padding: $baseline;
}

.isle {
  padding: $baseline/2;
}

.spit {
  padding: $baseline/4;
}

.img--cropper {
  overflow: hidden;
  background-size: cover;
  background-position: center;

  .img, img {
    opacity: 0;
    max-width: 100%;
  }
}

.img--sml {
  width: 2rem;
  height: 2rem;
}

.img--med {
  width: 4rem;
  height: 4rem;

  &.img--med--tall {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    width: 5rem;
  }
}

.img--lrg {
  height: 10rem;
  width: 10rem;
}

.media {
  .media__img {
    display: block;
    float: left;
    margin-right: .75rem;
    max-width: 2rem;
    z-index: 1;

    &.img--lrg {
      max-width: 10rem;
    }
  }
}

.card {
  background-color: #faf9f7;

  &.card--mini {
    padding-left: 5.75rem;
  }
}

.menu--hidden {
  display: none;
}

.toggle-menu {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}


/*-----------------------------------*\

  $LAYOUT

  Basic layout objects.

\*-----------------------------------*/

/*div*/.wrap {
  max-width: 40rem;
  margin: 0 auto;

  &.wrap--small {
    max-width: 30rem;
  }
}

.columns--two {
  @extend .cf;
  > * {
    width: 47.5%;

    &:nth-child(odd) {
      float: left;
      margin-right: 2.5%;
      clear: left;
    }

    &:nth-child(even) {
      float: right;
      margin-left: 2.5%;
      clear: right;
    }
  }
}

.g {
  display: inline-block;
  margin-right: -.24em;

  &.g--one-third {
    width: 33.333%;
  }

  &.g--two-thirds {
    width: 66.666%;
  }

  &.g--one-half {
    width: 50%;
  }
}

.no-w {
  width: 0 !important;
  padding: 0 !important;
}

.an-w {
  transition: .35s cubic-bezier(0.770, 0.000, 0.175, 1.000) !important;
}

/*-----------------------------------*\

  $MAIN

  Anything that can’t be abstracted
  or assigned to another section.
  Low-level stuff.

\*-----------------------------------*/

::selection {
  background-color: $red;
  text-shadow: none;
  color: #fff;
}

::-moz-selection {
  background-color: $red;
  text-shadow: none;
  color: #fff;
}

html {
  font: 112.5%/1.5 $freight;
  color: #2b2b29;
  -webkit-font-smoothing: antialiased;
  -webkit-font-size-adjust: none;
  background-color: #e8e2dc;

  @media (max-width: 500px) {
    font-size: 87.5%;
  }
}

body {
  height: 100%;
}

.site__home {
  background-color: #FFF;
  background-image: linear-gradient(#F9F6F5, #fff);

  .island {
    padding: 0;
  }
}

/*-----------------------------------*\
  $HEADER
\*-----------------------------------*/

.site__header {
  background-color: rgba(255,255,255,.85);
  background-image: linear-gradient(rgba(247,243,240,.5), rgba(247,243,240,0));
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

  .site__title {
    text-decoration: none;
    color: inherit;
    padding-left: 2rem;
    background-image: inline-image("header-db.svg");
    background-repeat: no-repeat;
    background-size: 1.5rem;
    background-position: left center;
    font-size: 1.5rem;
    line-height: 1;
    letter-spacing: -.05em;
    font-weight: 700;
    float: left;
    margin-bottom: 0;

    &.mega {
      display: inline-block;
      float: none;
      font-size: 6rem;
      background-size: 6rem;
      padding-left: 7rem;

      @media (max-width: 500px) {
        font-size: 4rem;
        background-size: 3rem;
        padding-left: 3.5rem;
      }
    }

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  .site__navigation {
    background-color: rgba(0,0,0,.8);

    & > div {
      padding: $baseline/2 $baseline;
    }

    ul li + li {
      margin-left: .75em;
    }

    a {
      color: $cream;
      font-weight: 700;
      text-decoration: none;
      text-shadow: 0 1px 1px rgba(0,0,0,.1);

      &:hover {
        text-decoration: underline;
      }
    }
  }

/*-----------------------------------*\
  $FEEDBACK
\*-----------------------------------*/

.feedback-modal {
  background-color: desaturate(darken($cream, 60%), 17%);
  color: $cream;
  text-shadow: 0 1px 1px rgba(0,0,0,.1);
  transition: .5s;
  max-height: 0;
  overflow: hidden;
  box-shadow: inset 0 -5px 10px rgba(0,0,0,.1);

  &.displaying {
    max-height: 500px;
  }

  textarea {
    -webkit-appearance: none;
    appearance: none;
    background-color: rgba(255,255,255,.8);
    border: none;
    border-radius: .25rem;
    margin-bottom: $baseline/2;

    &:focus {
      background-color: rgba(255,255,255,.9);
      outline: none;
      box-shadow: inset 0 0 20px #fff;
    }
  }
}

/*-----------------------------------*\
  $CONTENT
\*-----------------------------------*/

.site__content {
  @media (max-width: 600px) {
    padding: 1rem;
  }
}

/*-----------------------------------*\
  $POSTS
\*-----------------------------------*/

.posts {
  list-style: none;
  padding-left: 0;
  perspective: 2000px;
  @extend .fix3d;
}

.post__new-content {
  margin-bottom: $baseline/2;
  &.error {
    animation: shake .4s;
  }
}

.post {
  padding-top: 1.5rem;
  margin-bottom: 1rem;
  transition: .3s;
}

  .post__container {
    border-radius: .25rem .25rem 0 0;
    background-color: #faf9f7;
    box-shadow: 0 1px 1px rgba(0,0,0,.1), inset 0 0 10px 1px #fff;
    padding-bottom: 0;
    overflow: hidden;

    &.submit-kudos {
      padding-bottom: 1.5rem;
      overflow: visible;
    }
  }

.submit-kudos .post__header-meta {
  min-height: 1rem;
}

  .post__tagger, .post__tagger.input--plain {
    border-radius: 200px;
    box-shadow: -1px 0px 1px rgba(0,0,0,.05);
    line-height: 4rem;
    float: left;
    margin-top: -3.5rem;
    margin-left: -2rem;
    margin-bottom: .75rem;
    clear: both;
    z-index: 2;

    border: none;
    -webkit-appearance: none;
    background-color: darken(#faf9f7, 5%);
    color: rgba(0,0,0,.3);
    padding: $baseline/1.2 $baseline;
    text-align: left;
    line-height: 1.3;
    min-width: 17rem;

    &:focus {
      outline: none;
      background-color: darken(#faf9f7, 5%);
    }
  }

  .post__thanks-to {
    li {
      background-color: #faf9f7;
      border-radius: 200px;
      border: 3px solid #faf9f7;
      text-align: center;
      line-height: 3.5rem;
      float: left;

      & + li {
        margin-left: .25rem;
      }

      &:first-child {
        box-shadow: -1px 0px 1px rgba(0,0,0,.05);
      }

      img {
        position: absolute;
        top: 0;
        min-width: 100%;
        bottom: 0;
        min-height: 100%;
      }

      .post__no-tags {
        background-image: none;
        font-size: 2rem;

        @media (max-width: 600px) {
          font-size: 1.5rem;
        }
      }

      a {
        overflow: hidden;
        display: block;
        color: #fff;
        text-shadow: 0 1px 1px rgba(0,0,0,.1);
        border-radius: 50%;
        font-weight: 700;
        text-decoration: none;
        width: 3.5rem;
        height: 3.5rem;
        background-image: url('//dropabout.appspot.com/img?id=1');
        background-size: cover;
        background-position: center;

        img {
          opacity: 0;
        }
      }
    }
  }

  .post__remove-tag, [data-role=remove] {
    cursor: pointer;
    position: absolute;
    z-index: 2;
    text-align: center;
    width: 1.25rem;
    height: 1.25rem;
    font-size: .75rem;
    line-height: 1;
    padding: .25rem;
    top: -.25rem;
    right: -.25rem;
    background-color: rgba(255,255,255,.9);
    background-image: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1));
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    text-shadow: none;
    border-radius: 100%;
    color: #333;
  }


  .tag {
    animation: fadeInDown .3s;
    display: inline-block;
    font-size: .75rem;
    padding: .25rem .5rem;
    background-color: darken($cream, 20%);
    border-radius: .25em;
    margin-right: .75rem;
    margin-bottom: .75rem;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,.1);
    font-weight: 700;

    .post__remove-tag {
      @extend .fix3d;
      top: -.6rem;
      right: -.5rem;
    }
  }

[data-post-id] {
  .tag {
    margin-bottom: 0;
    margin-top: .75rem;
  }
}

.post__edit-actions {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 4;
  background-color: lighten($cream, 7%);
  border-bottom: 1px solid lighten($cream, 2%);
  border-left: 1px solid lighten($cream, 2%);
  border-top-right-radius: .25rem;

  .menu {
    z-index: -1;
    position: absolute;
    margin-top: -1px;
    top: 100%;
    right: 0;
    background-color: lighten($cream, 7%);
    width: 200px;
    border-radius: .25rem 0 0 .25rem;
    box-shadow: 0 1px 2px rgba(0,0,0,.1), inset 0 0 0 1px rgba(0,0,0,.1);
    overflow: hidden;

    a {
      display: block;
      color: desaturate(darken($cream, 50%), 10%);
      text-decoration: none;
      font-weight: 700;
      padding-left: .75rem;

      &:hover {
        background-color: rgba(0,0,0,.05);
      }
    }
  }
}

  .post__new-content {
    border: none;
    background-color: transparent;
    width: 100%;
    border-bottom: 1px dashed rgba(0,0,0,.2);

    &:focus {
      background-color: transparentize(#f1e5b7, .5);
      outline: none;
    }
  }

  .post__taggees {
    position: absolute;
    z-index: 4;
    top: -1rem;
    left: -1rem;

    @media (max-width: 600px) {
      top: -2rem;
      left: -.75rem;
    }
  }

  .post__content {
    color: #534d4a;

    .js--lightbox {
      z-index: 2;
    }

    .post__photo {
      margin: -1.5rem 1.5rem 0 -1.5rem;
      width: 36.5%;

      img {
        width: 100%;
      }

      &:after {
        content: '';
        pointer-events: none;
        box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-top-left-radius: .25rem;
      }

      @media (max-width: 600px) {
        float: none;
        margin: 0 0 1.5rem;
        border-radius: .25rem .25rem 0 0;
        max-width: calc(100% + 3rem);
        width: calc(100% + 3rem);
        margin: calc(-1.8rem) calc(-1.5rem) 1.5rem;

        &:after {
          border-radius: 0;
        }
      }
    }

    > :last-child {
      margin-bottom: 0;
    }
  }

  .post__meta {
    color: rgba(0,0,0,.4);

    a {
      text-decoration: none;
      color: darken($cream, 60%);

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .post__footer {
    border-radius: 0 0 .25rem .25rem;
    overflow: hidden;
    background-color: #f5f1f0;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    margin-bottom: 2rem;
  }

  .post__actions {
    border-top: 1px solid rgba(0,0,0,.1);
    overflow: hidden;
    border-radius: 0 0 .25rem .25rem;

    .input {
      border-radius: 0;
    }

    > * + * {
      border-left: 1px solid rgba(0,0,0,.1);
    }

    .input--plain {
      color: darken($cream, 50%);
    }

    .butt {
      text-align: center;
      box-shadow: none;
      -webkit-appearance: none;
      background-color: transparent;
      background-image: none;
      border-radius: 0 0 0 0;
      color: rgba(0,0,0,.5);
      font-weight: 700;
      text-decoration: none;
      transition: .3s;
      perspective: 250px;
      padding: .75rem;
      &:focus {
        outline: 1px dotted;
        outline-offset: -1px;
      }

      &:active, &:active:focus {
        background-image: linear-gradient(rgba(100,80,0,.05), rgba(100,80,0,0));
        box-shadow: none;
        color: rgba(0,0,0,.5);
      }
    }

    .thanked {
      color: $red;

      &:active, &:focus {
        outline: none;
      }

      &.js--pressed .fa-heart {
        z-index: 5;
        transform-style: preserve-3d;
        animation: throb .8s ease-in-out;
        animation-delay: .2s;
      }
    }
  }

  .post--new-in-stream {
    animation: new-in-stream .6s;
  }

  .post--remove-from-stream {
    animation: remove-from-stream .6s;
  }

  .i .fa, .i.fa {
    margin-right: .25em;
  }

/*-----------------------------------*\
  $COMMENTS
\*-----------------------------------*/

.comment__input {
  &::-webkit-input-placeholder {
    border-bottom: 1px dashed rgba(0,0,0,.15);
  }

  &::-moz-input-placeholder {
    border-bottom: 1px dashed rgba(0,0,0,.15);
  }

  &::-o-input-placeholder {
    border-bottom: 1px dashed rgba(0,0,0,.15);
  }

  &::input-placeholder {
    border-bottom: 1px dashed rgba(0,0,0,.15);
  }
}

.post__comments {
  padding-top: .75rem;
  padding-bottom: .75rem;
  border-top: 1px solid rgba(0,0,0,.1);
  margin-top: -1px;
}

.count {
  font-family: $proxima;

  a {
    color: rgba(0,0,0,.5);
    text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
  }
}

  .comments__count {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
  }

.comments {
  font-size: .85rem;
  line-height: 1.3;
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;

  li {
    padding-top: .75rem;
    margin-bottom: .75rem;

    &:first-child {
      margin-top: .75rem;
      border-top: 1px solid rgba(0,0,0,.1);
    }

    & + li {
      border-top: 1px solid rgba(0,0,0,.1);
      margin-top: -1px;
    }

    :last-child {
      margin-bottom: 0;
    }
  }
}

/*-----------------------------------*\
  $PROFILES
\*-----------------------------------*/

.user-card {
  @extend .post__container;
  padding-bottom: .75rem;
  border-radius: .25rem;
  border: none;
  overflow: hidden;

  .gamma a {
    color: inherit;
    text-decoration: none;
  }
}

  .user-card__avatar {
    margin: -.75rem;
    margin-right: .75rem;
    background-size: cover;
    background-position: center;

    img {
      opacity: 0;
    }

    &:after {
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
      border-radius: .25rem 0 0 .25rem;
    }
  }

  .user-card__meta {
    color: rgba(0,0,0,.5);
  }

/*-----------------------------------*\
  $FOOTER
\*-----------------------------------*/

.site__footer {
  padding-bottom: 3rem;
  background-image: url(../images/beigebox.svg);
  background-size: 2rem;
  background-position: center top;
  background-repeat: no-repeat;
}

/*-----------------------------------*\
  $ANIMATIONS
\*-----------------------------------*/

@keyframes throb {
  0% {
    transform: none;
    top: 0;
  }

  20% {
    transform: rotateY(-60deg);
    transition-timing-function: ease-out;
    top: 2px;
  }

  50% {
    transform: rotateY(270deg);
    transition-timing-function: ease-in;
    top: -15px;
  }

  80% {
    transform: rotateY(600deg);
    top: 6px;
  }

  100% {
    transform: rotateY(540deg);
    top: 0;
  }
}

@keyframes new-in-stream {
  0% {
    opacity: 0;
    max-height: 0;
    transform: rotateX(-40deg) rotateY(-7deg) scale(.8);
  }

  75% {
    transform: rotateX(1deg) scale(1.01);
    transition-timing-function: ease-in;
  }

  100% {
    opacity: 1;
    max-height: 1000px;
    transform: scale(1);
    transition-timing-function: ease-in-out;
  }
}

@keyframes remove-from-stream {
  0% {
    opacity: 1;
    max-height: 1000px;
    transform-origin: bottom;
  }

  100% {
    opacity: 0;
    max-height: 0;
    transform: scale(.5) rotateX(-90deg) rotateY(7deg) translateY(30px);
    transform-origin: bottom;
    margin-bottom: 0;
  }
}

@keyframes fadeInDown {
  0% {
    transform: translateY(-6px);
    opacity: 0;
  }

  65% {
    transform: translateY(3px);
  }

  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes shake {
        0%, 100% {
          transform: translateX(0);
        }

        20% {
          transform: translateX(-10px);
        }

        40% {
          transform: translateX(10px);
        }

        60% {
          transform: translateX(-5px);
        }

        80% {
          transform: translateX(5px);
        }
}

@keyframes shrink {
  0% {
    opacity: 1;
    max-width: 500px;
    max-height: 500px;
  }

  100% {
    opacity: 0;
    transform: scale(.5);
    max-width: 0;
    max-height: 0;
  }
}

@keyframes shrink-y {
  0% {
    opacity: 1;
    max-height: 500px;
  }

  100% {
    opacity: 0;
    transform: scale(.5);
    max-height: 0;
  }
}

/*-----------------------------------*\
  $JS-HELPERS
\*-----------------------------------*/

.tagsinput {

}

.ui-autocomplete {
  position: absolute;
  list-style: none;
  padding-left: 0;
  background-color: rgba(255,255,255,.9);
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  border-radius: .25rem;
  overflow: hidden;

  li a {
    text-decoration: none;
    color: #333;
    font-weight: 700;
    display: block;
    padding: $baseline/3 $baseline;

    &.ui-state-hover {
      cursor: pointer;
      background-color: $red;
      color: #fff;
    }
  }
}

.tag--removing {
  animation: shrink .25s;
}

.lightbox {
  background: rgba(0,0,0,.85);
  white-space: nowrap;
  position: fixed;
  right: 0px;
  top: 0px;
  left: 0px;
  bottom: 0px;
  display: block;
  overflow: hidden;
  z-index: 138483;
  height: 100%;
  width: 100%;
}

.lightbox__img {

	border-radius: .25rem;
	overflow: hidden;
  box-shadow: 0 1px 10px rgba(0,0,0,.3);

  img {
    max-height: 100%;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: inset 0 0 0 1px rgba(255,255,255,.1), 0 2px 5px rgba(0,0,0,.1);
    border-radius: .25rem;
    pointer-events: none;
  }
}

.lightbox__close {
  color: rgba(255,255,255,.8);
  text-shadow: 0 1px 2px rgba(0,0,0,.2);
  position: absolute;
  top: 0;
  right: 0;
  margin: $baseline/2;
  cursor: pointer;

  &:hover {
    color: #fff;
  }
}

.js--lightbox-open {
  body {
    overflow: hidden;
  }
}

.js--loading-posts {
  color: rgba(0,0,0,.6);
  .fa {
    animation: infinite throb .8s ease-in-out;
  }
}

.js--comment-remove {
  animation: shrink-y .3s;
}

/*-----------------------------------*\
  $BANNERS
\*-----------------------------------*/

.banner {
  position: fixed;
  top: .75rem;
  left: 0;
  right: 0;
  max-width: 30rem;
  font-size: .9rem;
  font-weight: 700;
  border-radius: .5rem;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);

  &.banner--error {
    background-color: transparentize($red, .03);
    background-image: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.1));
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,.1);
  }
}