
{% extends "base.html" %}
{% block content %}

<h1>Admin Page</h1>
<p>Only moderated, accepted posts will appear on the office TV displays.</p>
<div class="main-column">

<ul class="nav p">
	<li>View:</li>
	<li><a href="{{ url_for('unmoderated_posts') }}">Unmoderated Posts</a> (<span class='count-unmoderated-posts'>{{count_unmoderated_posts}}</span>)</li>
	<li><a href="{{ url_for('accepted_posts') }}">Accepted Posts</a> (<span class='count-accepted-posts'>{{count_accepted_posts}}</span>)</li>
	<li><a href="{{ url_for('rejected_posts') }}">Rejected Posts</a> (<span class='count-rejected-posts'>{{count_rejected_posts}}</span>)</li>
</ul>
<h2 class="gamma p {{status}}">{{header}}</h2>
{% if posts %}

	<ol class="posts post-column posts posts__home">

		{% for post in posts %}
			{% include 'post-readonly.html' with context %}
			{% set post_object = post.get('post_object') %}
		{% endfor %}

	</ol>

{% else %}
		<p class="beta promo faded">No posts to display here</p>

{% endif %}

</div>

{% endblock %}



