{% extends "base.html" %}

{% block content %}

	<table class="table">
		<tr width="25px">
			<td></td>
			<td><u>Name</u></td>
			<td><u>Email</u></td>
			<td><u>Team</u></td>
		</tr>

		{% for user in all_users %}

			<tr>
				<td>
					{% if user.photo %}
						<img class="allusers_pic" src="{{user.photo}}">
					{% else %}
						<img class="allusers_pic" src="http://www.how-to-draw-funny-cartoons.com/image-files/how-to-make-an-outline-2.gif">
					{% endif %}
				</td>
				{% if user.firstname %}
					<td><a href="{{ url_for('user', username=user.username) }}">{{user.firstname}} {{user.lastname}} </a></td>
				{% else %}
					<td>{{user.nickname}}</td>
				{% endif %}
				<td>{{user.email}} </td>
				
				{% if user_teams.get(user.id) %}
					{% for team in user_teams.get(user.id) %}
						<td><a href="{{ url_for('team', team=team) }}">{{team}}</a></td>
					{% endfor %}

				{% else %}
					<td> no team </td>
				{% endif %}
			</tr>
	

		{% endfor %}

	</table>


{% endblock %}