{% extends "base.html" %}

{% block content %}

	

{% for user in all_users %}

<div class="user-info" id="user_info">
	<div class="user-page-avatars">
	  	<a class="user-page-avatar" href="#">
	      	<div class="cropper">
	        	<img src="{{user.photo}}" alt="{{user.username}}" />
		 	</div>
	 	</a>
	 </div>

	<div class="white-card">
		<h2>{{user.firstname}} {{user.lastname}}</h2>
		<ul>
		<li>
			{% for team in list_of_teams %}
				<a href="{{ url_for('team', team=team) }}">{{team}} </a>
			{% endfor %}
		</li>
		<li>{{user.email}}</li>
		<li>{{user.phone}}</li>
		<li>
			{% if user.linkedin %}
				<a href={{user.linkedin}}>LinkedIn</a>
			{% endif %}
		</li>
		<li>
			{% if user.facebook %}
				<a href={{user.facebook}}>Facebook</a>
			{% endif %}
		</li>
		<li>
			{% if user.twitter %}
				<a href=http://www.twitter.com/{{user.twitter}}>Twitter</a>
			{% endif %}
		</li>
		<li>
			{% if user.github %}
				<a href={{user.github}}>Github</a>
			{% endif %}
		</li>
	</ul>

	</div>
</div>
	

{% endfor %}




{% endblock %}