<html>
	<head>
	<link rel="stylesheet" href="/static/css/core.css" type="text/css" charset="utf-8" />
	<link rel="stylesheet" href="/static/css/navbar.css" type="text/css" charset="utf-8" />

		{% if title %}
		<title>Kudos - {{title}}</title>
		{% else %}
		<title>Kudos</title>
		{% endif %}
	</head>
	<body>

		<div class="navbar" name="navigation">
			<ul class="nav navbar-nav">
				<li class="active"><a href="{{ url_for('index') }}">Kudos</a></li>
				{% if g.user.is_authenticated() %}
				<!-- If user is logged in, allow them to logout -->
				<li><a href="{{ url_for('user', username = g.user.username) }}">Your Profile</a></li>
				<li><a href="{{ url_for('all_users') }}">All Users</a></li>
				<li><a href="{{ url_for('logout') }}">Logout</a></li>
				{% endif %}
			</ul>

		</div>


		{% with messages = get_flashed_messages() %}
		{% if messages%}
		<ul>
			{% for message in messages %}
				<li>{{message}} </li>
			{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}

		{% block content %}{% endblock %} 
		<!-- moving block content to head - why does this make changes? -->
	</body>

</html>