<!DOCTYPE html>
<html lang="en">
	<head>
		{% if title %}
			<title>Kudos - {{title}}</title>
		{% else %}
			<title>Kudos</title>
		{% endif %}

		<meta charset="UTF-8" />
		<meta name="google" content="notranslate">
		<meta http-equiv="Content-Language" content="en" />
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimal-ui" />

		<link rel="stylesheet" href="/static/css/style.css" type="text/css" charset="utf-8" />
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet" />
		<link rel="apple-touch-icon-precomposed" href="/static/img/touch-icon.png" />
		<link rel="shortcut icon" href="/static/img/favicon.png" />

		<script type="text/javascript" src="//code.jquery.com/jquery-1.7.min.js"></script>
		<script type="text/javascript" src="//use.typekit.net/bgx4jzo.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	</head>

	<body>
		<header class="site__header" name="navigation">
			<div class="wrap island cf">
				<a class="site__title standalone alpha" href="/">Kudos</a>

				<a class="f-r" href="{{ url_for('logout') }}">Logout</a>
			</div>
		</header>

		<nav class="site__navigation nav">
			<div class="isle wrap">
				<ul class="standalone">
					{% if g.user.is_authenticated() %}
					<!-- If user is logged in, allow them to logout -->
					<li><a href="{{ url_for('user', username = g.user.username) }}">Your Profile</a></li>
					<li><a href="{{ url_for('all_users') }}">All Employees</a></li>
					<li id="nav-feedback"><a href="#">Feedback</a></li>
					{% endif %}
				</ul>
			</div>
		</nav>

		<div class="feedback-modal">
			{% include 'feedback-modal.html' with context %}
		</div>


		{% with messages = get_flashed_messages() %}
		{% if messages%}
		<ul>
			{% for message in messages %}
				<li>{{message}} </li>
			{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}
		<div class="site__content wrap cf island">
			{% block content %}{% endblock %}
		</div>
		<script type='text/javascript' src="/static/js/jquery-ui.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery.tagsinput.js"></script>

		<script type="text/javascript" src="/static/js/s3upload.js"></script>
		<script type="text/javascript" src="/static/js/kudos.js"></script>
		<script type="text/javascript" src="/static/js/dropboxchooser.js" id="dropboxjs" data-app-key="vi9myl48jsb166j"></script>
		<script type="text/javascript" src="/static/js/jquery.lightbox.js"></script>

		<script type="text/javascript" src="/static/js/index.js"></script>

		{% block onload %}{% endblock %}
	</body>

</html>
