<li class="one-comment media cf" data-comment-id="{{comment.id}}">
  <div class="clearfix">
    <a class="media__img img--cropper img--sml b" style="background-image: url({{comment.author.photo}})" href="{{ url_for('user', username=comment.author.username) }}">
      <img class="img" src="{{comment.author.photo}}" alt="{{comment.author.username}}" />
    </a>

      <a href="{{ url_for('user', username=comment.author.username) }}" class="comment-author">{{comment.author.firstname}} {{comment.author.lastname}}</a>
      {% if comment.author.username == g.user.username %}
        <a href="#" class="f-r remove-comment" data-comment-id="{{comment.id}}">Remove</a>
      {% endif %}
      {% if comment.body %}
        <div class="media__content comment__content">
          {{comment.body}}
        </div>
      {% endif %}
  </div>
</li>