<li class="one-comment media cf" data-comment-id="{{comment.id}}">
  <div class="clearfix">
    <a class="media__img img--cropper img--sml" style="background-image: url({{comment.author.photo}})" href="{{ url_for('user', username=comment.author.username) }}">
      <img class="img" src="{{comment.author.photo}}" alt="{{comment.author.username}}" />
    </a>
    <div class="media__content comment__content">
      {{comment.body}}
    </div>

    <a href="{{ url_for('user', username=comment.author.username) }}" class="comment-author">{{comment.author.firstname}} {{comment.author.lastname}}</a>
    {% if comment.author.username == g.user.username %}
      <div class="remove-comment" data-comment-id="{{comment.id}}">
        <a>
          Remove
        </a>
      </div>
    {% endif %}
  </div>
</li>