{% extends "base.html" %}

{% block content %}
<h1>Edit Your Profile</h1>
<form action="" method="post" name="edit">
	{{form.hidden_tag()}}  <!-- wha? -->
	<!-- Will get replaced with hidden field that implements the CSRF prevention enabled in configuration. Needs to be in all forms -->
	<table>
		<tr>
			<td>Your nickname:</td>
			<td>{{form.nickname(size = 50)}}
				{% for error in form.errors.nickname %}
				<!-- set nickname text box to blank -->
				<br><span style="color: red;">[{{error}}]</span>
				{% endfor %}
			</td>
		</tr>
		<tr>
			<td>About yourself:</td>
			<td><input type="submit" value="Save Changes"></td>
		</tr>
	</table>
</form>

{% endblock %}