<html>
	<head>
		<title>Fake Google</title>

	</head>
	<body>
		<h1>Fake Google</h1>

      	<div>
            <form action="/fake_login_submit" method="post">
            	{% if next %}
                <input name="next" type="hidden" value="{{next}}" />
                {% endif %}
                <p>Email address: <input name="email" type="text" /><input type="submit" value="Fake Login" /></p>
            </form>
        </div>
        <div class="login-error">
            {% with messages = get_flashed_messages() %}
			{% if messages%}
			<ul>
				{% for message in messages %}
					<li>{{message}} </li>
				{% endfor %}
			</ul>
			{% endif %}
			{% endwith %}
		</div>
	</body>
</html>
