
<div class="wrap island">
	<form class="submit-feedback standalone">
		{{email}}
		<p class="feedback-description promo beta">
			Bugs, thoughts, or questions? Let us know.
		</p>
		<p class="h-m">If you&rsquo;re reporting a bug, please supply screenshots and instructions on how to replicate the&nbsp;issue.</p>

		<p class="meta faded"><small><strong>Note:</strong> Currently, Kudos is only supported in Google Chrome. Expect bugs in other browsers, and please let us know what you&nbsp;find.</small></p>

		<textarea class="feedback-input input span-all isle" name="feedback-input"></textarea>
		<div class="promo">
			<button type="button" class="cancel-feedback-btn butt">Cancel</button>
			<button type="button" class="submit-feedback-btn butt butt--primary">Submit feedback</button>
		</div>
	</form>
</div>