
{% extends "base.html" %}

{% block content %}

<script type="text/javascript" src="/static/js/index.js"></script>

<div class="main-column">

	<div class="new-post">
		<a class="new-post-modal-btn">
			<div class="new-kudos-button">
				<div class="depth">
					Give Kudos
				</div>
			</div>
		</a>

		{% include 'post-modal.html' with context %}

	</div>


	<div class="post-column">

		{% for post in posts %}
		  {% include 'post.html' with context %}
		{% endfor %}

	</div>
</div>

{% endblock %}



