<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="/static/css/core.css" type="text/css" charset="utf-8" />

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
	<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js'></script>
	<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/themes/start/jquery-ui.css" />
	<script type="text/javascript" src="/static/js/jquery.tagsinput.js"></script>

	<title>Kudos by Dropbox</title>

</head>
<body>

<!-- Submit new Kudos -->
	<div id="post-modal" style="display: none; position: absolute; left: 0; top: 0; width: 100%; height: 100%; text-align: center;">
		<form action='/editpost' method="POST" name="add" class="new_post_form">
			<!-- inclide csrf token in every form for security --> 
			{{ new_post_form.csrf_token }} 
			{% for error in new_post_form.errors.post_body %}
				<span style="color:red;">[{{error}}]</span> 
			{% endfor %}<br />

			<div class="row">
				<div class="col-lg-6">
					<div class ="submit-kudos" style="padding: 20px; width: 290px; height: 158px; margin: auto; background: #e2d7d8; padding: 10px;">
	    				<div class="tags" id="tagsinput_tagsinput" name="tags_div" style="width: 290px;">
								<input type="text" class="tag_input" id="tag_input" name="tag_input" value placeholder="tags" style="width: 290px; align: center; border: none;"/>
							</div>
	    				<div class="input-group">
	    					<span class="form-control">{{ new_post_form.post_body (style="width: 284px; height: 70px;", id="new_post_body") }} </span>
	    				</div>

	    				<button class="post_button" id="no_new_post_btn" value="cancel" style="color: white; font-weight:700; background: rgb(241, 150, 150); width: 80px; height: 25px; margin-top: 14px;">Cancel</button>

		    			<button class="post_button" type="submit" id="new_post_button" name="new_post_btn" value="submit" style="color: white; font-weight:700; background: rgb(241, 150, 150); width: 80px; height: 25px; margin-top: 14px;"> Submit </button>

						{{ new_post_form.hidden_tag_ids (class="hidden_tag_ids", id="hidden_tag_ids") }}
						{{ new_post_form.hidden_tag_text (class="hidden_tag_text", id="hidden_tag_text") }}

					</div>
				</div>
			</div>
		</form>
	</div>


	<div id="main-column">

		<a href="#" onclick="show_post_modal()">
			<div id="new-kudos-button">
				<div class="depth" title="Give Kudos">
					Give Kudos
				</div>
			</div>
		</a>
		<div id="post-column">
<!-- Display posts -->
			{% for post in posts %}
			  {% include 'post.html' with context %}
			{% endfor %}

		</div>
	</div>

	<script type="text/javascript">

		$(document).ready(function(){
			$('.new_post_form').submit(call_collect_tags);

			var tag_words = {{tag_words|safe}}; //safe: tell flask that this input is okay
			var tag_json = {{tag_json|safe}}; 
			var tag_ids = {{tag_ids|safe}};
			$('.tag_input').tagsInput({
				width: 'auto',
				height: '30px',
				autocomplete_list: tag_words,
				autocomplete_dict: tag_json, 
				tag_ids: tag_ids,
			});
		});

		function call_collect_tags(){
			collect_tags($(this))
		}

		function collect_tags(form){
			//only when adding new tag by itself, not with new post
			console.log("collecting tags");

			var all_tags = form.find("span.tag"); //gives you all tags in form 
			$.each(all_tags, function(){
				var hidden_tag_ids = form.find(".hidden_tag_ids");
				var hidden_tag_text = form.find(".hidden_tag_text");
				var tag_id = $(this).attr('id');
				hidden_tag_ids.val(hidden_tag_ids.val() + tag_id + "|");
				var tag_text = $(this).children("span").text();
				hidden_tag_text.val(hidden_tag_text.val() + tag_text + "|");
			});
			console.log($(".hidden_tag_ids").val());
		}
		
		function onAddTag(tag) {
			console.log("added tag: " + tag);
			
		}
		function onRemoveTag(tag) {
			console.log("Removed a tag: " + tag);
		}

		function onChangeTag(input,tag) {
			console.log("Changed a tag: " + tag);
		}



		 $('.thank-button').click(function(e){
	        e.preventDefault();
	        console.log('clicked' + this.id);
	        var data = {
	          post_id: this.id
	        };
	        $.post('/sendthanks', data, function(){
	        	//add class that changes color of heart symbol
	        	$('.post a.thank-button').css('background', 'url(/static/img/thank-button-pressed.png) no-repeat 12px 12px;')
	        	//create avatar on post 

	        })
	      });

		$('.submit-new-tag-btn').click(function(e) {
			e.preventDefault();
			console.log('clicked to add tags for: ' + this.id);
			form = $(this).parent()
			collect_tags(form);
			tag_ids = form.find('.hidden_tag_ids').val();
			tag_text = form.find('.hidden_tag_text').val();

			if (tag_ids != ""){
				var data = {
				post_id: this.id,
				tag_ids: tag_ids,
				tag_text: tag_text
				};

				$.post('/newtag', data, function(tag_info){
					form.parent().toggle(); 
					form.children('.tags').children('.tagsinput').children('span').remove(); //remove tag spans from input box
					form.children(".hidden_tag_ids").val(""); //and clear hidden values
					form.children(".hidden_tag_text").val("");
					console.log("tag_dict: " + tag_info);
					//turn tag_info into usable array
					tag_array = jQuery.parseJSON(tag_info);

					for(var i = 0; i<tag_array.tags.length; i++){
						var username = tag_array.tags[i].username;
						var photo = tag_array.tags[i].photo;
						var new_avatar = $('<a class="avatar" href="{{ url_for("user", username=' + username + ') }}"><div class="cropper"><img src=' + photo +' alt=' + username + '>');
						console.log("this" + this)
						form.parent().parent().children(".taggees").children(".avatars").append(new_avatar);

					}
				})
			}

			else{
				$(this).add("<span> No new tags </span>");
				e.preventDefault();
				console.log('no new tags');
			}

			
		});

	  	$('.addtag-button').click(function(e){
	  		e.preventDefault();
	  		$(this).parent().parent().children(".tag-modal").toggle();

		});

		$('.comment-button').click(function(e){
			e.preventDefault
			$(this).parent().parent().children(".comment-modal").toggle();
		});

		$('#no_new_tag_btn').click(function(e){
			e.preventDefault();
			$('.tag-modal').toggle();
		})


		$('#no_new_post_btn').click(function(e) {
			e.preventDefault();
			console.log('hiding');
			$('#post-modal').hide();
			$('#post-column').css('margin', '0px');
		});

		function show_post_modal(){
			$('#post-modal').show();
			$('#post-column').css('margin', '175px 0px 0px 0px');

		}

		//AJAX FOR NEW POST
		// $('#new_post_button').click(function(e){
		// 	e.preventDefault();
		// 	collect_tags();
		// 	var data = {
		// 		post_body: $('#new_post_body').val(),
		// 		hidden_tag_ids: $('.hidden_tag_ids').val(),
		// 		hidden_tag_text: $('.hidden_tag_text').val()
		// 	};
		// 	$.post('/editpost', data, function(response){
		// 		console.log(response);
		// 		//recreate post.html using javascript for the new post and display it at the bottom
		// 	})

		// });
		
	</script>

	</body>
</html>


