<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="/Users/missy/Dropbox/Hackbright/microblog/app/static/css/core.css" type="text/css" charset="utf-8" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript" charset="utf-8"></script>

<title>Kudos by Dropbox</title>

</head>
<body>
sdfsdf
<div id="main-column">

<div class="post" id="$post-id">

<div class="taggees">
  <div class="avatars">
  <a class="avatar" href="#">
    <img src="avatars/ilya.jpg" alt="Ilya Fushman" />
  </a>
  <a class="avatar" href="#">
    <img src="avatars/molly.jpg" alt="Molly Strong" />
  </a>
  <a class="avatar" href="#">
    <img src="avatars/glara.jpg" alt="Glara Ahn" />
  </a>
  <a class="avatar" href="#">
    <img src="avatars/jon.jpg" alt="Jon Ying" />
  </a>
  </div>
</div>

<div class="white-card">

  <div class="photo-thumb">
    <a href="#"><img src="img/example-photo.jpg" /></a>
  </div>
  
  <blockquote>
    The Dropbox platform meet-up last night was incredibly fun. Wanted to give props to the folks who did such a great job of bringing together our favorite developers.
  </blockquote>
  <div class="post-author">
    <a href="#" class="author-name">Dan Levine</a>, 
    <a href="#" class="team-name">Platform</a>
  </div>
  <div class="post-metadata">
    <a href="#" class="comment-count">13 Comments</a>
  </div>
  hello world - put comments here
</div>

<div class="toolbar">
  <a class="toolbar-button thank-button" href="#">Thank</a>
  <a class="toolbar-button comment-button" href="#">Comment</a>
  <a class="toolbar-button addtag-button" href="#">Add Tag</a>
</div>

</div>



</div>

</body>
</html>
