{% extends "base.html" %}

{% block content %}
<script type="text/javascript">
function set_openid(openid, pr)
{
	u = openid.search('<username>') //where does username come from?
	if (u != -1){
		//openid requres username
		user = prompt('Enter your ' + pr + ' username:')
		openid = openid.substr(0,u) + user
	}
	form = document.forms['login'];
	form.elements['openid'].value = openid 
}
</script>

<h1>Sign In</h1>
<form action="" method="post" name="login">
	{{form.hidden_tag()}} <!-- needs to be in all forms if you have CSRF enabled in config.py -->
	<p>
		Please enter your OpenID:<br>
		{{form.openid(size=80)}}<br>
		{% for error in form.errors.openid %}
		<span style="xolor:red;">[{{error}}]</span> <!-- display errors in red for user -->
		{% endfor %}<br>

		| {% for pr in providers %}
		<a href="javascript:set_openid('{{pr.url}}', '{{pr.name}}');">{{pr.name}}</a> |

		{% endfor %}

	</p>
	<p>{{form.remember_me}} Remember Me</p>
	<p><input type="submit" value="sign In"></p>
</form>
{% endblock %}