<html class="site__home">
<head>
	<title>Kudos</title>
	<link rel="shortcut icon" href="/static/img/favicon.ico">
	<link rel="stylesheet" href="/static/css/style.min.css" type="text/css" charset="utf-8" />
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">
	<script type="text/javascript" src="//use.typekit.net/bgx4jzo.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1" />
	<link rel="shortcut icon" href="/static/img/favicon.ico">
</head>
<body class="cn-c">
	<div class="wrap cn-w promo island wrap--small">
		<div class="p"><h1 class="mega site__title site__title--home">Kudos</h1></div>
		<p><a class="butt" href="mailto:admin@example.com">Contact Team Kudos</a> <a class="login-button butt butt--primary" href="{{auth_url}}">Login with Google</a></p>
		{% with messages = get_flashed_messages() %}
			{% if messages%}
					{% for message in messages %}
						<p class="error">{{message}}</p>
					{% endfor %}
			{% endif %}
		{% endwith %}
	</div>
</body>
</html>
