{% set post_object = post.get('post_object') %}
<li class="post post--single {% if post_object.photo_link %}post--photo{% endif %}" data-post-id="{{post_object.id}}">

  <div class="post__container island">

    <div class="post__edit-actions spit">
      <a href="#" class="fa fa-angle-down toggle-menu"></a>
      <ul class="menu menu--hidden sl-l">
        <li><a class="toolbar-button addtag-button spit" data-post-id="{{post_object.id}}" href="#"><i class="fa fa-plus"></i> Add Tag</a></li>

      {% if g.user.username == post_object.author.username %}
        <li><a class="toolbar-button remove-post-button spit" href="{{ url_for('delete_post', postid=post_object.id) }}">Remove Kudos</a></li>
      {% endif %}
      </ul>
    </div>

    <div class="post__header-meta">
      <div class="taggees">
        <ul class="avatars cf post__thanks-to h-l">

          {% if post.get('tagged_teams') %}
            {% for tag in post.get('tagged_teams') %}
              <li class="avatar-container" data-tag-id="{{tag.id}}">

                <a class="avatar" style="background-image: url(/static/img/team_photo.jpg)" href="{{ url_for('team', team=tag.team_tag.teamname) }}">
                  <img src="/static/img/team_photo.jpg" title="{{tag.team_tag.teamname}}" alt="{{tag.username}}" />
                  <!-- <img src="{{tag.team_tag.photo}}" alt="{{tag.team_tag.teamname}}" /> -->
                </a>

                {% if g.user.username == post_object.author.username%}
                  <div class="post__remove-tag remove-tag">
                    <i class="fa fa-times"></i>
                  </div>
                {% endif %}

              </li>
            {% endfor %}
          {% endif %}

          {% if post.get('tagged_users') %}
            {% set g_user_tagged_in_post = [] %}
            {% for tag in post.get('tagged_users') %}
              {% if tag.user_tag.username == g.user.username %}
                {% do g_user_tagged_in_post.append(1) %}
              {% endif %}
              <li class="avatar-container" data-tag-id="{{tag.id}}">

                <a class="avatar" style="background-image: url({{tag.user_tag.photo}})" href="{{ url_for('user', username=tag.user_tag.username) }}">
                  <!--<img src="/static/img/generic_photo.jpg" alt="{{tag.username}}" />-->
                  <img src="{{tag.user_tag.photo}}" title="{{tag.user_tag.firstname}} {{tag.user_tag.lastname}}" alt="{{tag.username}}" />
                </a>

                {% if g_user_tagged_in_post or g.user.username == post_object.author.username%}
                  <div class="post__remove-tag remove-tag">
                    <i class="fa fa-times"></i>
                  </div>
                {% endif %}

              </li>
            {% endfor %}
          {% endif %}

          {% if not post.get('tagged_teams') and not post.get('tagged_users') %}
            <li>
              <a class="avatar post__no-tags" title="No one tagged yet.">?</a>
            </li>
          {% endif %}

        </ul><!-- /.avatars -->
      </div><!-- /.taggees -->
    </div><!-- /.post__header-meta -->

    <div class="post__content cf">
      {% if post_object.photo_link %}
        <a href="{{post_object.photo_link}}" class="js--lightbox b">
          <img class="post__photo f-r" src='{{post_object.photo_link}}' data-post-id="{{post.id}}" />
        </a>
      {% endif %}
      <blockquote class="p {% if not post_object.photo_link %}beta{% endif %}">
        {{post_object.body}}
      </blockquote>

      <div class="tag-modal cf" data-post-id="{{post_object.id}}" style="display: none;">
        <form class="new-tag-form" data-post-id="{{post_object.id}}">
          <div class="tags" data-post-id="{{post_object.id}}">
            <div class="post__new-tagged">

            </div>
            <input type="text" class="spit tag_input input in" data-post-id="{{post_object.id}}" placeholder="Who do you want to thank?"/>
            <div data-id="_tagsinput" class="tagsinput">
              <div data-id="_addTag">
                <input data-id="_tag" class="spit input in" value="" data-default="Who do you want to thank?" /><button type="submit" class="new-tag-btn in butt" data-post-id="{{post_object.id}}">Add tags</button>
              </div>
            </div>
          </div>

          {{ reply_form.hidden_post_id(value=post_object.id) }}
          {{ new_post_form.hidden_tag_ids (class="hidden_tag_ids", id=post_object.id) }}
          {{ new_post_form.hidden_tag_text (class="hidden_tag_text", id=post_object.id) }}
        </form>
      </div>

      <div class="post-author post__meta">

        <small>
          Posted by <a href="{{ url_for('user', username=post_object.author.username) }}">{{post_object.author.firstname}} {{post_object.author.lastname}}</a>,
          <a href="{{ url_for('team', team=post.get('author_teams')[0].teamname)}}">{{post.get('author_teams')[0].teamname}}</a>
        </small>

      </div><!-- /.post__meta -->
    </div><!-- /.post__content -->
  </div><!-- /.post__container -->

    <div class="post-metadata post__comments island">
      <div class="count cf">
        <!-- show # thanks received only if you're tagged in post or you're author -->
          {% if post.get('thankers')|length == 1 %}
            <a class="comments__count thank-count">{{post.get('thankers')|length}} Thank</a>,
          {% else %}
            <a class="comments__count thank-count">{{post.get('thankers')|length}} Thanks</a>,
          {% endif %}

        {% set comments = post.get('comments')|length %}
        {% if comments == 1 %}
          <a class="comments__count comment-count">{{comments}} Comment</a>
        {% else %}
          <a class="comments__count comment-count">{{comments}} Comments</a>
        {% endif %}
      </div>

      <!--{% include 'thanker-modal.html' with context %}-->

      <!-- Display comments on post -->
      <ol class="comments standalone" data-post-id="{{post_object.id}}" style="display: none">
        {% for comment in post.get('comments') %}

          {% include 'comment.html' with context %}

        {% endfor %}
      </ol>

      <!-- new comment -->
      <div class="comment-modal m-t" data-post-id="{{post_object.id}}" style="display: none">
        <form>
          {{new_post_form.csrf_token}}
          <div class="new-comment-body cf" data-post-id="{{post_object.id}}">
            {{reply_form.reply_body (class="reply-body span-all h-m input isle")}}
            <button type="button" class="f-r butt new-comment-btn" name="new_reply_btn" data-post-id="{{post_object.id}}">Reply</button>
          </div>
        </form>
      </div>

    </div><!-- /.post__comments -->

  <div class="toolbar post__footer">
<!--
    <a class="toolbar-button comment-button" data-post-id="{{post_object.id}}">Comment</a>
-->
    <nav class="post__actions nav">
      <ul>
        <li><span class="butt isle toolbar-button thank-button{% if g.user in post.get('thankers') %} thanked{% endif %}" data-post-id="{{post_object.id}}"><i class="fa fa-heart"></i> Thank</span></li>
        <li><span class="butt isle toolbar-button comment-button" data-post-id="{{post_object.id}}"><i class="fa fa-comment"></i> Comment</span></li>
      </ul>
    </nav>
  </div>

</li>
