

{% set post_object = post.get('post_object') %}

<div class="post" data-post-id="{{post_object.id}}">
  <div class="taggees">
    <div class="avatars">

    {% set g_user_tagged_in_post = [] %}

    {% if post.get('tagged_users') %}
      {% for tag in post.get('tagged_users') %}
        {% if tag.user_tag.username == g.user.username %}
          {% do g_user_tagged_in_post.append(1) %}
        {% endif %}

        <div class="avatar-container">
          <a class="avatar" href="{{ url_for('user', username=tag.user_tag.username) }}">
          	<div class="cropper">
                <img src="{{tag.user_tag.photo}}" alt="{{tag.username}}" />
            </div>
          </a>

          {% if g_user_tagged_in_post or g.user.username == post_object.author.username%}

            <div class="remove-tag">
              <a>X</a>
            </div>

          {% endif %}

          <div class="taggee-name">
            {{tag.user_tag.firstname}}
          </div>
        </div>

      {% endfor %}
    {% endif %}

    {% if post.get('tagged_teams') %}
      {% for tag in post.get('tagged_teams') %}
        <div class="avatar-container">
          <a class="avatar" href="{{ url_for('team', team=tag.team_tag.teamname) }}">
            <div class="cropper">
                <img src="{{tag.team_tag.photo}}" alt="{{tag.team_tag.teamname}}" />
            </div>
          </a>

          {% if g_user_tagged_in_post or g.user.username == post_object.author.username%}
            <div class="remove-tag">
                <a>X</a>
            </div>
          {% endif %}

          <div class="taggee-name">
            {{tag.team_tag.teamname}}
          </div>
        </div>
      {% endfor %}
    {% endif %}
    </div>
  </div>


  <div class="white-card">
    {% if post_object.photo_link %}
      <img class="post-photo" src='{{post_object.photo_link}}'>
    {% endif %}
    <blockquote>
      {{post_object.body}}
    </blockquote>

    <div class="post-author">
      <a href="{{ url_for('user', username=post_object.author.username) }}">
        {{post_object.author.firstname}} {{post_object.author.lastname}}
      </a>,  
      <a href="{{ url_for('team', team=post.get('author_teams')[0].teamname)}}">

        {{post.get('author_teams')[0].teamname}}

      </a> 
    </div>
    <div class="post-metadata">
      {% set comments = post.get('children_objects')|length %}
      {% if comments == 1 %}
        <a class="comment-count">{{comments}} Comment</a>
      {% else %}
        <a class="comment-count">{{comments}} Comments</a>
      {% endif %}

      <br> 
      
      <!-- show # thanks received only if you're tagged in post or you're author -->

      {% if g_user_tagged_in_post or g.user.username == post_object.author.username%}
        {% if post.get('thankers')|length == 1 %}
          <a>{{post.get('thankers')|length}} Thank</a>
        {% elif post.get('thankers')|length > 1 %}
          <a>{{post.get('thankers')|length}} Thanks</a>
        {% else %}
          <a>No Thanks</a>
        {% endif %}
      {% endif %}

      {% include 'thankers-modal.html' with context %}
    </div>
  </div>

  <div class="toolbar">
    <a class="toolbar-button addtag-button">
      Add Tag
    </a>
    <a class="toolbar-button comment-button">
      Comment
    </a>

    {% if g.user.username in post.get('thankers') %}
      <a class="toolbar-button thank-button pressed" data-post-id="{{post_object.id}}">
        Thank
      </a>
    {% else %}
      <a class="toolbar-button thank-button" data-post-id="{{post_object.id}}">
        Thank
      </a>
    {% endif %}
    
    {% if g.user.username == post_object.author.username %}
      <a class="toolbar-button remove-post-button" href="{{ url_for('delete_post', postid=post_object.id) }}">
        Remove Kudos
      </a>
    {% endif %}
  </div>

<!-- new tag -->
  <div class="tag-modal clearfix" data-post-id="{{post_object.id}}">
    <form class="new-tag-form" data-post-id="{{post_object.id}}">  
      <div class="tags">
        <input type="text" class="tag_input" placeholder="tags"/>
      </div>
     
      <button type="submit" class="new-tag-btn" data-post-id="{{post_object.id}}"> 
        Submit 
      </button>
      {{ reply_form.hidden_post_id(value=post_object.id) }}
      {{ new_post_form.hidden_tag_ids (class="hidden_tag_ids", id=post_object.id) }}
      {{ new_post_form.hidden_tag_text (class="hidden_tag_text", id=post_object.id) }}
    </form>
  </div>


<!-- new comment -->
  <div class="comment-modal" data-post-id="{{post_object.id}}">
    <form>
      {{new_post_form.csrf_token}}
        <div class="new-comment-body" data-post-id="{{post_object.id}}">
          {{reply_form.reply_body (class="reply-body")}}
          <button type="button" class="new-comment-btn" name="new_reply_btn" data-post-id="{{post_object.id}}"> reply </button>
        </div>
    </form>
  </div>


  <!-- Display comments on post -->
  <div class="comments" data-post-id="{{post_object.id}}">

    {% for post_comment in post.get('children_objects') %}
      <div class="one-comment" data-post-id="{{post_comment.id}}">
        <div class="clearfix">
          <a class="avatar" href="{{ url_for('user', username=post_comment.author.username) }}">
            <div class="cropper">
                <img src="{{post_comment.author.photo}}" alt="{{post_comment.author.username}}" />
            </div>
          </a>
            <div class="comment-body">
            {{post_comment.body}}
          </div>

          <a href="{{ url_for('user', username=post_comment.author.username) }}" class="comment-author">{{post_comment.author.firstname}} {{post_comment.author.lastname}}</a>
          {% if post_comment.author.username == g.user.username %}
            <div class="remove-comment" data-post-id="{{post_comment.id}}">
              <a>
                Remove
              </a>
            </div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
