{% extends "base.html" %}

{% block content %}

	<h1 class="team__title">
		{{team.teamname}} Team
	</h1>

	<div class="columns--two">
	{% for user in team_members %}

		<div class="user-card isle cf card p card--mini" id="user_info">
			<a class="b user-card__avatar img--cropper img--med img--med--tall f-l" style="background-image: url({{user.photo}})" href="{{ url_for('user', username=user.username) }}">
		    <img class="img" src="{{user.photo}}" alt="{{user.username}}" />
			</a>

			<div class="user-card__info">
		  	<h2 class="gamma standalone">
		  		<a href="{{ url_for('user', username=user.username) }}">{{user.firstname}} {{user.lastname}}</a>
		  	</h2>
		  	<ul class="user-card__meta sl-l h-m">
		  		{% if user.email %}
		  		<li><small>{{user.email}}</small></li>
		  		{% endif %}
		  		{% if user.phone %}
		  		<li><small>{{user.phone}}</small></li>
		  		{% endif %}
		  	</ul>
		  	<div>
		  		<hr class="h-m">
				</div>
		  </div>
		</div>

	{% endfor %}
	</div>

	<div class="main-column profile">
		<div>
			<div class="new-post">
				{% include 'post-modal.html' with context %}
			</div>
			<hr/>
			{% if posts %}
				<h2 class="gamma">Posts thanking {{team.teamname}} Team</h2>

				<ol class="posts post-column">
				{% for post in posts %}
				  {% include 'post.html' with context %}
				{% endfor %}
				</ol>
			{% else %}
				<p class="beta promo faded">No posts thanking the {{team.teamname}} Team yet. Why not <a href="#">be the first?</a></p>
			{% endif %}
		</div>
	</div>
{% endblock %}

{% block onload %}
{% endblock %}