{% extends "base.html" %}

{% block content %}
 

<!-- User Information -->
<h2>{{team}}</h2>
			
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>


<div name="display_team_members">


	<table class="table">
		<tr width="25px">
			<td></td>
			<td><u>Name</u></td>
			<td><u>Email</u></td>
		</tr>

		{% for member in team_members %}

		<tr>
			<td>
				{% if member.photo %}
					<img class="allusers_pic" src="{{member.photo}}">
				{% else %}
					<img class="allusers_pic" src="http://www.how-to-draw-funny-cartoons.com/image-files/how-to-make-an-outline-2.gif">
				{% endif %}
			</td>
			{% if member.firstname %}
				<td><a href="{{ url_for('user', username=member.username) }}">{{member.firstname}} {{member.lastname}}</a> </td>
			{% elif member.nickname %}
				<td>{{member.nickname}}</td>
			{% endif %}

			{% if member.username %}
				<td>{{member.email}} </td> 
			{% else %}
				{{member.email}}
			{% endif %}

		</tr>
	

		{% endfor %}

	</table>


	<!-- Display all tags for this team
		Include entire thread if they are mentioned in replies -->
		

</div>

{% endblock %}