{% extends "base.html" %}

{% block content %}
 
<div class="team-title">
	{{team}}
</div>

	{% for user in team_members %}

		<div class="user-info">
			<div class="user-page-avatars">
			  	<a class="user-page-avatar" href="{{ url_for('user', username=user.username) }}">
			      	<div class="cropper">
			        	<img src="{{user.photo}}" alt="{{user.username}}" />
				 	</div>
			 	</a>
			 </div>

			<div class="white-card">
				<a href="{{ url_for('user', username=user.username) }}" class="employee-name">
					<h2>{{user.firstname}} {{user.lastname}}</h2>
				</a>
				<ul>
					<li>
						{% for team in dict_of_users_teams[user] %}
							<div>
								<a href="{{ url_for('team', team=team) }}">{{team}}</a>
							</div>
						{% endfor %}
					</li>
					<li>{{user.email}}</li>
					<li>{{user.phone}}</li>
				</ul>
			</div>
		</div>

	{% endfor %}


<div class="main-column profile">
	<div class="post-column">

		{% for post in posts %}
		  {% include 'post.html' with context %}
		{% endfor %}

	</div>
</div>

{% endblock %}