<div class="thanker-modal">
    {% for thanker in post.get('thankers') %}
      <div class="one-thanker">
        <div class="clearfix">
          <a class="avatar" href="{{ url_for('user', username=thanker.username) }}">
            <div class="cropper">
                <img src="{{thanker.photo}}" alt="{{thanker.username}}" />
            </div>
          </a>
          <div class="thanker-name">
            <a href="{{ url_for('user', username=thanker.username) }}" class="thanker-name">{{thanker.firstname}} {{thanker.lastname}}</a>
        </div>
        </div>
      </div>
    {% endfor %}
</div>