{% extends "base.html" %}

{% block content %}


<!-- User Information -->
<table>
	<tr valign="top">
		<td><img src={{ url_for('static', filename='blobfish.png') }} height='220' width='220'></td>
		<td>
			<h2>{{user.nickname}}</h2>
			{% if user.about_me %}<p>{{user.about_me}}</p>{% endif %}
			<ul>
				<li>Team: {{user.team}}</li>
				<li>{{user.email}}</li>
				<li>{{user.phone}}</li>
			</ul>

		<!-- Edit Profile -->
		<!-- can only change your own profile page (if logged in) -->
		{% if user.id == g.user.id %}<p><a href="{{ url_for('edit') }}">Edit your profile</a></p>{% endif %}
		</td>
	</tr>
</table>


<hr>
<!-- View and Delete Posts-->
<div class="container-fluid">
	<table>

	{% for post in posts %}

		<tr valign="top", id="{{count}}">
			<td>
					<form action="/deletepost" method="POST" name="delete">
					{{ delete_form.hidden_post_id(value=post.id) }}
					{{ delete_form.post_delete_btn(value="X", id=post.id) }}
					</form>
			</td>
			<td>
				<img src={{ url_for('static', filename='blobfish.png') }} height='42' width='42'>
			</td>
			<td>
				<i>{{post.author.nickname}} says:</i><br>
				{{post.body}}
			</td>
		</tr>

	{% endfor %}
		
	</table>
</div>

{% endblock %}