{% extends "base.html" %}

{% block content %}


<!-- User Information -->
<table>
	<tr valign="top">
		<td><img src="{{user.avatar(220)}}"></td>
		<td>
			<h2>{{user.nickname}}</h2>
			{% if user.about_me %}<p>{{user.about_me}}</p>{% endif %}
			<ul>
				<li>Team: {{user.team}}</li>
				<li>{{user.email}}</li>
				<li>{{user.phone}}</li>
			</ul>

		<!-- Edit Profile -->
		<!-- can only change your own profile page (if logged in) -->
		{% if user.id == g.user.id %}<p><a href="{{ url_for('edit') }}">Edit your profile</a></p>{% endif %}
		</td>
	</tr>
</table>

<!-- submit new post -->
<div>
	<h3>Submit a new post</h3>
	<form action="/editpost" method="POST" name="add">
			<!-- inclide csrf token in every form for security -->
			{{ edit_form.csrf_token }} 
			{% for error in edit_form.errors.post_body %}
			<span style="color:red;">[{{error}}]</span> 
			{% endfor %}<br>
			{{ edit_form.post_body (style="margin: 1.80398px; width: 440px; height: 57px;") }}
			<p>{{ edit_form.post_submit_btn(value="submit post")}}</p>
			{{edit_form.hidden(value=1)}}

	</form>
</div>
<hr>
<!-- View and Delete Posts-->
	<table>

	{% for post in posts %}

		<tr valign="top", id="{{count}}">
			<td>
					<form action="/deletepost" method="POST" name="delete">
					{{ delete_form.post_id(value=post.id) }}
					{{ delete_form.post_delete_btn(value="X", id=post.id) }}
					</form>
			</td>
			<td><img src="{{post.author.avatar(50)}}"></td><td><i>{{post.author.nickname}} says:</i><br>
			{{post.body}}</td>
		</tr>

	{% endfor %}
		
	</table>


{% endblock %}