{% extends "base.html" %}

{% block content %}


<div class="user-info clearfix">

	<div class="user-page-avatars">
		<a class="user-page-avatar">
			<div class="cropper">
				<img src="/static/img/generic_photo.jpg" alt="{{user.username}}" />
				<!-- <img src="{{user.photo}}" alt="{{user.username}}" /> -->
			</div>
		</a>
	  

  </div>

  <div class="white-card">
  	<h2>{{user.firstname}} {{user.lastname}}</h2>
  	<ul>
		<li>
			{% for team in list_of_team_names %}
				<div>
					<a href="{{ url_for('team', team=team) }}">{{team}} </a>
				</div>
			{% endfor %}
		</li>
		{% if manager %}
			<li>
				<div>
					Lead: <a href="{{url_for('user', username=manager.username) }}"> {{manager.firstname}} {{manager.lastname}}</a>
				</div>
			</li>
		{% endif %}
		<li>{{user.email}}</li>
		<li>{{user.phone}}</li>
	</ul>

  </div>
</div>

<div class="main-column profile">
	<div class="post-column">
		<div class="new-post">
			<a class="new-post-modal-btn">
				<div class="new-kudos-button">
					<div class="depth">
						Give Kudos
					</div>
				</div>
			</a>

			{% include 'post-modal.html' with context %}

		</div>

		{% for post in posts %}
		  {% include 'post.html' with context %}
		{% endfor %}

	</div>

</div>


{% endblock %}